*{
    padding: 0;
    margin: 0;

}
body{
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
}
#form #input{
    font-size: 1.2rem;  
}
#form textarea{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}
h1{
    margin: 1rem;
    text-shadow: 4px 7px 7px rgb(99, 97, 97);
    font-size: 2.5rem;
    margin-right: 2rem;
}
.right{
    margin: 1rem;
}
button{
    width: 6rem;
    height: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #363535;
    color: white;
  }
.right{
    padding: 1rem;
}
#post{
    margin: 0.6rem;
}
.options i{
    padding: 0.3rem;
    margin-top: 0.3rem;
}
#form h3{
    font-weight: normal;
    font-size: 1.5rem;
}
#msg{
    color: red;
}
p{
    margin-top: 0.5rem;
}
.options i{
    cursor: pointer;
}
